/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";

// Menu bar
$menubar-height: 4em;
$menu-button-height: $menubar-height/4;

.menubar{
	height: $menubar-height;
	background-color: white;
}
.menu-button{
	@include button;
	padding: $menu-button-height $menu-button-height;
	height: $menubar-height;
	width: $menubar-height;
	margin: 0 0;
	& i{
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

// Sort Options
.sortsandfilters{
	margin-top: 15px;
}
.sortoptions a{
	color: grey;
	margin-left: 1em;
	-webkit-transition: .25s; /* For Safari 3.1 to 6.0 */
    transition: .25s;
	&:hover{
		color: $primary-color;
		cursor: pointer;
	}
}
.sortoptions .active{
	border-bottom: 1px solid grey;
	-webkit-transition: .25s; /* For Safari 3.1 to 6.0 */
    transition: .25s;
	&:hover{
		border-bottom: 1px solid $primary-color;
		cursor: pointer;
	}
}
.tagdropdown{
	-webkit-transition: .25s; /* For Safari 3.1 to 6.0 */
    transition: .25s;
	&:hover{
		color:$primary-color;
		cursor: pointer;
	}
}

// contact list
#container{
  margin: 0 auto;
}

$contactcard-color: #e4e4e4;

#container .contactentry{
	margin-left:  auto;
	margin-right: auto;
	width: 175px;
	background-color: $contactcard-color;
	float: left;
	margin-bottom: 15px;
	border-radius: 2px;

	-webkit-transition: .25s; /* For Safari 3.1 to 6.0 */
    transition: .25s;

	&:hover{
		border-bottom:  3px $primary-color solid;
		-ms-transform: translate(0px,-5px); /* IE 9 */
		-webkit-transform: translate(0px,-5px); /* Chrome, Safari, Opera */
		transform: translate(0px,-5px);

		cursor: pointer;

		-webkit-box-shadow: 0px 2px 10px 0px $aluminum;
		-moz-box-shadow: 0px 2px 10px 0px $aluminum;
		box-shadow: 0px 2px 10px 0px $aluminum;
	}

	&:hover .contact-name h6{
		color: $primary-color;
	}

	&:hover .contact-card-edit a{
		color: $aluminum;
	}
}
.contact-img{
	background-image: url("http://lorempixel.com/175/175/people");
	height: 175px;
	width: 175px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;

}
.contact-info-container{
	padding: 5px;
	width: 100%
}

.contact-name {
	width: 80%;
	margin-bottom: 20px;
	float: left;
	& h6{
		font-weight: bold;
		color: $charcoal;
	}
}
.contact-card-edit a{
	color: $contactcard-color;
	text-align: right;
	width: 20%;
	float: left;
	&:hover{
		color: $primary-color;
	}
}
.contact-tags{
	margin-top: 5px;
	position: absolute;
	bottom: 5px;
	font-size: 10px;
	color: $aluminum;
	& a{
		color: $aluminum;
		&:hover{
			color: $primary-color;
		}
	}
}


