.row
	.small-12.columns
		#container.js-masonry(data-masonry-options='{ "itemSelector": ".contactentry", "gutter": 15, "isFitWidth": true }')
			- for (var x = 0; x < 20; x++)
				.contactentry.centered
					.row
						.small-12.columns
							img(src="http://lorempixel.com/200/200/people")
					.row
						.small-12.columns.contactentry-text-area
							h6 John Smith